---
title: Events
layout: default
bodyClass: page-services-list
---
<style>
  @media  screen and (min-width : 0px) and (max-width : 767px)  {
  iframe{
      width: 200px;   
    height:50%;
    }
}
</style>

<iframe src="https://calendar.google.com/calendar/b/1/embed?title=Coding%20Calender&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;hl=en&amp;bgcolor=%23009900&amp;src=codechef.com_3ilksfmv45aqr3at9ckm95td5g%40group.calendar.google.com&amp;color=%236B3304&amp;src=hackerearth.com_73f0o8kl62rb5v1htv19p607e4%40group.calendar.google.com&amp;color=%2342104A&amp;src=en.indian%23holiday%40group.v.calendar.google.com&amp;color=%23875509&amp;src=8a4ko50nq55ma5smhuhdp5rpmaek45lg%40import.calendar.google.com&amp;color=%2328754E&amp;ctz=Asia%2FCalcutta" style="border:solid 1px #777" width="440" height="400" frameborder="0"></iframe>

<br>

<p>Here is an helpful extension for your desktop for notifications.!</p>
<br>
<a href="https://chrome.google.com/webstore/detail/challenge-hunt/cgbnhngdlmhjbmgkekedepoapmoingjj"> 
WebStore link for Chrome Extension.</a>
<br>
You also apps like Coder's Calender.<br>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Upcoming Events</h1>
        <p>
          Our events helps hundreds of users to improve and test their performance.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Past Events</h1>
        <p>
          Events which helps you learn what you don't know. 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container pb-6">
  <div class="row">
    {% for service in site.past %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
