---
title: Events
layout: default
bodyClass: page-services-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Upcoming Events</h1>
        <p>
          Our events helps hundreds of users to improve and test their performance.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for service in site.services %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Past Events</h1>
        <p>
          Events which helps you learn what you don't know. 
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container pb-6">
  <div class="row">
    {% for service1 in site.services1 %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service1 service1-summary">
        <div class="service1-content">
          <h2 class="service1-title">
            <a href="{{site.baseurl}}{{ service1.url }}">{{ service1.title }}</a>
          </h2>
          {{ service1.content | markdownify | strip_html | truncate: 100 }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
