<div class='header {{include.headerClass}}'>
  <div class="container">
    <div class="logo">
      <a href="{{site.baseurl}}/"><img alt="Homepage" height="100" width="200" src="{{site.baseurl}}/assets/images/coders.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/coders.svg" height="1000" width="2000" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
